.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 10px;
    width: 356px;
    height: 100%;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .image {
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 10px 10px;;
    text-align: center;
  }
  
  