.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  background-color: #CCE4FF; /*CCE4FF 9DCCFF*/
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.text {
  padding-left: 90px; 
}

.title-homepage {
  color:#2F327D;
  margin: 0;
  padding-top: 100px;
  font-size: 40px;
}

.description {
  color: #696984;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 90px; 
}